.header_bottom{
 background-color: #ffffff;
 height:70px;
 
 &__category{
  padding: 20px 0 0 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
  color: black;
 }
}