

.header{
  background-color:rgb(16, 143, 247);
  height:150px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px red;
}

.header-title{
 font-size: 52px;
 font-family: Impact, 'Arial Narrow Bold', sans-serif;
 font-style: italic;
 color: rgb(240, 44, 44);
 padding: 0.3em 0.6em;
 margin: 0.32em ;
 font-weight: bold;
 background:white;
 border: solid 12px yellow;/*線*/
 border-radius: 10px; /*角の丸み*/
}
header-title{
  margin: 0; 
  padding: 0;
}
.logo-img{
  height:150px;
  width: 335px;
  padding: 0 30px 3px 0;
  }

ul{
  font-family: serif;
  display: flex;
}

li{
  padding:90px 24px 0 0px;
  font-weight: bold;
  color: rgba(252, 250, 250, 0.904);
  }

