%body
  .header
    .header-title
      %p Recommend Youtube
    .header-logo
      = image_tag "logo.png", class: 'logo-img'
    .header-list
      %ul
        %li みんなの投稿
        %li マイページ
        %li ログイン
        %li アプリ概要


