= render partial: "/shared/header"
= render partial: "/shared/header_bottom"
.main
  .main__message
    あなたのおすすめの
    %span youtube
    の動画を教えてください
    %h1 気になるユーザーをフォローしましょう
    
= render partial: "/shared/footer"