= render partial: "/shared/header"
= render partial: "/shared/header_bottom"
.main
  .main__message
    %h1 あなたのおすすめのyoutubeの動画を教えてください
    %h2 気になるユーザーをフォローしましょう
    
= render partial: "/shared/footer"